@{
    ViewData["Title"] = "Order Success";
}

<div class="container mt-5 pt-5 text-center">
    <h1 class="mt-5">@ViewData["Title"]</h1>
    <h3>Thank you for your order!</h3>
    <p>Your order number is: </p>
    <p>Your order will be with you soon!</p>
    <div class="delivery-animation">
        <img src="~/img/delivery.svg" alt="Delivery Truck" class="delivery-truck" />
    </div>
</div>
