@{
	ViewData["Title"] = "Chat Page";
}
<section class="mt-5 pt-5">
	<div class="chat-container mt-5 pt-5">
		<ul id="messagesList"></ul>
		<div class="message-input-container">
			<input type="text" id="messageInput" placeholder="Type your message here..." />
			<button id="sendButton">Send</button>
		</div>
	</div>
</section>

@section Scripts{
	<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
	<script src="~/js/chat-user.js"></script>
}