@{
	ViewData["Title"] = "Error";
}

<div class="container mt-5 pt-5 text-center">
	<h1 class="text-danger">Error.</h1>
	<h2 class="text-danger">An error occurred while processing your request.</h2>
	<br />
	<br />
	<div class="text-center h4">
		<a asp-controller="Home" asp-action="Index" class="btn btn-link">Go to home Page</a>
	</div>
</div>
