@{
	ViewData["Title"] = "Error 404";
}

<div class="container mt-5 pt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center pt-5">
            <img src="~/img/error404.png" alt="Alternative image" class="img-thumbnail mb-2">
            <div>Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</div>
        </div>
    </div>
</div>