@model GalleryViewModel

@{
	ViewData["Title"] = "Image Details";
}

<section id="gallery" class="gallery mt-5">
	<div class="container-fluid aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

		<div class="row g-0">
			<div class="col-lg-3 col-md-4 position-relative">
				<div class="gallery-item">
					<img src="~/@Model.ImagePath" alt="" class="img-fluid">
					<div class="info-icons position-absolute bottom-0 end-0 p-2">
						<span class="me-2"><i class="fas fa-eye"></i> @Model.ViewsCount</span>
						<span class="me-2"><i class="fas fa-heart"></i> @Model.LikesCount</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
